<div class="app_card_container">
    <mat-card>
        
        <mat-card-subtitle>Update Profile</mat-card-subtitle>
        <div class="border p-3">
        <mat-card-content>
            <form [formGroup]="userForm" (ngSubmit)="update()">
                <mat-form-field class="app_form_field">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstname" />
                    <mat-error *ngIf="userForm.controls.firstname.hasError('required')">
                        Please enter firstname
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="app_form_field">
                    <mat-label>Lastname</mat-label>
                    <input matInput type="text" formControlName="lastname" />
                   
                </mat-form-field>  
                <mat-form-field class="app_form_field">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                    <mat-error *ngIf="userForm.controls.email.hasError('required')">
                        Please enter email
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.email.hasError('email')">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="app_form_field">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="text" formControlName="mobile" />
                    <mat-error *ngIf="userForm.controls.mobile.hasError('required')">
                        Please enter mobile number
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="app_form_field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="userForm.controls.password.hasError('required')">
                        Please enter password
                    </mat-error>
                </mat-form-field>
               
                <button mat-raised-button type="submit" class="mr-8" color="primary"
                    [disabled]="userForm.invalid">Update</button>
                
            </form>
        </mat-card-content>
    </div>
    </mat-card>
</div>
